body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #000000;
  }
  
  .header {
    display: flex;
    justify-content: center;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .writerAndDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .writerAndDate .writer {
    font-weight: 600;
  }
  
  .newsContent img {
    max-width: 100%;
  }
  
  .description {
    display: flex;
    flex-direction: column;
  }
  
#update-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  #news-id-update,
  #news-title-update,
  #news-description-update,
  #news-image-update,
  #news-writer-update {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  #news-id-update {
    margin-bottom: 5px;
  }

  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    color: #000000;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    resize: vertical;
  }
  